/********************************************************/
/*Barra de navegación*/
/********************************************************/
.navbar { 
    padding-left: 0%;
    padding-right: 10%;
    background-color: transparent;
  }
  
  .navbar-right {
    padding-top: 7%;
  }
  
  /********************************************************/
  /*Barra de navegacion de items*/
  /********************************************************/
  .nav-link {
    font-family: 'Lato'; /*Fuente*/
    color: black; /*Color*/
    text-decoration: none; /*Formato del texto*/
    opacity: 1; /*opacidad*/
    font-size: 1.7rem; /*Tamaño*/
  
  }
  
  .nav-item .nav-link:hover {
    color: black; /*Color*/
    background-color: transparent; /*Color de fondo*/
    font-weight: 600; 
  
  }
  
  /********************************************************/
  /*Categoria de libros*/
  /********************************************************/
  #all_books {
    padding-left: 11%;
    padding-right: 10%;
  }
  
  /********************************************************/
  /*Carrusel*/
  /********************************************************/
  .fade-carousel {
    position: relative;
    height: 70vh;
  }
  
  .fade-carousel .carousel-inner .item {
    height: 70vh;
  }
  
  .fade-carousel .carousel-indicators>li {
    margin: 0 2px;
    background-color: white;
    border-color: black;
    opacity: .7;
  }
  
  .fade-carousel .carousel-indicators>li.active {
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  
  /********************************************************/
  /*Cabeceras de texto del carrusel*/
  /********************************************************/
  #hero1 {
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
    font-family: 'Lato';
    font-size: 40px;
  }
  
  .hero { /*Estilo de las imagenes del carrusel*/
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3; /*Estilo de orden de un posicionamiento y sus descendientes */
    color: #fff;
    -webkit-text-stroke: .5px black; /*Estilo gradiante*/
    -webkit-text-fill-color: white; /*Estilo gradiante*/
    text-align: center; /*Aliniacion*/
    text-transform: uppercase; /*Cambio de minusculas a mayusculas*/
    font-family: 'Lato'; /*Fuente*/
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .75);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  
  .hero h1 { /*Estilo del titulo de las imagenes del carrusel*/
    font-size: 6em;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  .fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
  }
  
  .fade-carousel .carousel-inner .item.active .hero {
    opacity: 100%;
    -webkit-transition: 2s all ease-in-out .1s;
    -moz-transition: 2s all ease-in-out .1s;
    -ms-transition: 2s all ease-in-out .1s;
    -o-transition: 2s all ease-in-out .1s;
    transition: 2s all ease-in-out .1s;
  }
  
  /********************************************************/
  /*diapositivas de imagenes de fodo*/
  /********************************************************/
  .fade-carousel .slides .slide-1,
  .fade-carousel .slides .slide-2,
  .fade-carousel .slides .slide-3 {
    height: 70vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
   opacity: 90%;
  }
  
  /*imagenes del carrusel*/
  .fade-carousel .slides .slide-1 {
    background-image: url(../img/libro1.jpg); /*Imagen 1 del carrusel*/
  }
  
  .fade-carousel .slides .slide-2 {
    background-image: url(../img/libro3.jpg); /*Imagen 2 del carrusel*/
  }
  
  .fade-carousel .slides .slide-3 {
    background-image: url(../img/libro2.jpg); /*Imagen 3 del carrusel*/
  }
  
  /********************************************************/
  /*barra de navegacion*/
  /********************************************************/
  .example {
    margin-left: 10.5%;
    margin-right: 10.5%;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: grey;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /********************************************************/
  /*diseño libros*/
  /********************************************************/
  #container {
    padding: 2px 16px;
  }
  
  #style_books {
    margin-left: 10%;
    margin-right: 10%;
    height: 130vh;
  }
  
  #column {
    text-align: center;
    padding: 10px;
    color: lightgrey;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 600;
  
  }
  
  #column1 {
    text-align: center;
    padding: 10px;
    color: darkgrey;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lato';
  
  }
  
  
  .column {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-bottom: 3%;
  }
  
  
  .row {
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  /********************************************************/
  /*diseño de las tarjetas */
  /********************************************************/
  h3 {
    text-align: left;
  }
  
  p {
    text-align: left;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: black;
  }
  
  /********************************************************/
  /* iconos de redes sociales        */
  /********************************************************/
  
  #media_spacing {
    margin-right: 3%;
  }
  
  #media_icons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #000000;
  }
  
  #media_icons #media_list {
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
  }
  
  #media_icons #media_list:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    /*fondo: #d35400; */
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    transform: scale(0.9);
    transition: 0.5s;
  }
  
  #media_icons #media_list:nth-child(1):before {
    background: #4267b2;
  }
  
  #media_icons #media_list:nth-child(2):before {
    background: #993f97;
  }
  
  #media_icons #media_list:nth-child(3):before {
    background: #2867b2;
  }
  
  #media_icons #media_list:hover:before {
    filter: blur(3px);
    transform: scale(1.2);
    /*sombra de caja: 0 0 15px #d35400; */
  }
  
  #media_icons #media_list:nth-child(1):hover:before {
    box-shadow: 0 0 15px #4267b2;
  }
  
  #media_icons #media_list:nth-child(2):hover:before {
    box-shadow: 0 0 15px #993f97;
  }
  
  #media_icons #media_list:nth-child(3):hover:before {
    box-shadow: 0 0 15px #2867b2;
  }
  
  #media_icons #media_list:nth-child(1):hover {
    color: #456cba;
    box-shadow: 0 0 15px #4267b2;
    text-shadow: 0 0 15px #4267b2;
  }
  
  #media_icons #media_list:nth-child(2):hover {
    color: #ab467e;
    box-shadow: 0 0 15px #ab467e;
    text-shadow: 0 0 15px #ab467e;
  }
  
  #media_icons #media_list:nth-child(3):hover {
    color: #2a6cbb;
    box-shadow: 0 0 15px #2867b2;
    text-shadow: 0 0 15px #2867b2;
  }
  /****************************************************************************/
