/*************************************************************************************************/
/*   Texto   */
/*************************************************************************************************/
.fuente-raleway{ /*Fuente*/
  font-family: "Raleway", arial;
}
.EstiloTexto{ /*Estilo fuente de informacion fuente*/
  color: white;
  font-size:25px;
  text-shadow: 2px 2px 4px #000000;
  }
  .conEspaciado{ /*Espaciado*/
    line-height: 3vh;
}
.text-center{ /*Texto centrado*/
  text-align: center;
}

/*************************************************************************************************/
/*   Tarjeta de informacion   */
/*************************************************************************************************/
.BackgroundText{ /*Caja de fondo de arriba*/
  background-color: #d2d2d294; /*Color*/
  box-shadow: 1px 1px 1px 10px #111010; /*Contorno de la caja*/
  border-radius: 10px; /*Borde redondeado*/  
  margin: 8vh 14.2vh 1vh 14.2vh; /*Margen*/
  padding: 9vh; /*Relleno*/
}

  .TextBack{ /*Texto de salida*/
  width:100%;
  color:rgb(255, 255, 255);
  font-size: 30px;
  }

  
  *, *:before, *:after { /*Estilo texto de salida*/
    box-sizing: inherit; /*Ajustar forma de la caja*/
  }

  a:link{ /*Sin decoracion*/
    text-decoration:none;
}
  
/*************************************************************************************************/
/*   Fondo   */
/*************************************************************************************************/
  html, body { /*Fondo*/
    background-image: url(../img/libro2.jpg);
  }
  

  html { /*Tamaño de fuente de los iconos*/
    font-size: 0.625em;
  }
  
/*************************************************************************************************/
/*   Division de redes sociales   */
/***************************************************************************************************/
  .soc { /*Cuadro de iconos*/
    display: block; /*Elemento en forma de cuadro*/
    margin: 0 auto; /*Margen*/
    padding: 48px 4.8rem; /*Relleno*/
    text-align: center; /*Alineacion de iconos al centro*/
    width: 110rem 100%; /*Anchura*/
  }

  .soc li { /*Forma de la lista de iconos*/
    display: inline-block; /*Elemento en forma de cuadros en linea*/
    margin: 12px 1.2rem; /*Margen*/
  }

  .soc a, .soc svg { /*Forma de la lista de iconos*/
    display: block; /*Elemento en forma de cuadro*/
  }

  .soc a { /*Forma de la lista de iconos*/
    position: relative; /*Posicion*/
    height: 96px; /*Altura*/
    height: 9.6rem; /*Altura*/
    width: 96px; /*Anchura*/
    width: 9.6rem; /*Anchura*/
  }
  
/*************************************************************************************************/
/*   Iconos de redes sociales   */
/***************************************************************************************************/
   .icon-1:hover, .icon-2:hover, .icon-3:hover,  .icon-4:hover { /*Animacion al pasar cursor en los iconos*/
    border-radius: 100%; /*Borde redondeado*/
    color: #0e1a25; /*Color */
    fill: #0e1a25; /*Pinta el intrior del icono*/
    -webkit-transform: scale(1.25); /*Anchura*/
    transform: scale(1.25); /*Esala de transformacion*/
    transition: background-color 0.5s, transform 0.5s ease-out; /*Animacion al pasar cursor en los iconos*/
  }

  .icon-1 { /*Color de de icono email*/
    color: #00690e;
    fill: #00690e;
  }

  .icon-1:hover { /*Color de animacion al pasar cursor al icono email*/
    background: #00690e;
  } 

  .icon-2 { /*Color de de icono instagran*/
    color: #e913d7;
    fill: #e913d7;
  }

  .icon-2:hover { /*Color de animacion al pasar cursor al icono instagran*/
    background: #e913d7;
  }
 
  .icon-3 { /*Color de de icono twiter*/
    color: #007df1;
    fill: #007df1;
  }

  .icon-3:hover { /*Color de animacion al pasar cursor al icono twitter*/
    background: #007df1;
  }

  .icon-4 { /*Color de de icono youtube*/
    color: #f70101;
    fill: #f70101;
  }

  .icon-4:hover { /*Color de animacion al pasar cursor al icono youtube*/
    background: #f70101;
  }
/*************************************************************************************************/
/***************************************************************************************************/