/******************************************/
/*Margenes de la informacion*/
/******************************************/
#section /*Margenes de la imagen del libro*/
{
    margin-top: 5%;
    margin-bottom: 5%;
}


#sectionone /*Margenes de la descripcion*/
{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 5%;
}


#form /*Margenes de la reseña*/
{
    margin-top: 5%;
    margin-bottom: 5%;
}


body /*Fuente del texto*/
{
    font-family: 'Lato'
}

/******************************************/
/*Texto de la informacion*/
/******************************************/
h3 /*Autor*/
{
    font-weight: 700;
}


h4 /*Titulo*/
{
    font-weight:bold;
}


b
{
    color: maroon;
}


p
{
    font-weight: 400;
    font-size: 15px;
}

/******************************************/
/*Botones*/
/******************************************/
#download /*Boton de descarga*/
{
    background-color: #f0c351;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    border: none;
}

#back /*Boton de regreso*/
{
    background-color: darkgrey;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    border: none;
}

#more-info /*Boton mas informacion*/
{
    background-color: #f0c351;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 10px;
    border: none;
}
/******************************************/
