<!DOCTYPE html> <!--Tipo de documento-->
<html lang="es" xmlns:th="http://www.thymeleaf.org"> <!--Estructura principal e Idioma del documento-->

  <head> <!--Inicio cabecera-->
    <title>Información</title> <!--Titulo de la pagina-->
    <link rel="icon" href="img/icono.png" type="image/x-icon" /> <!--Icono del documento-->
    <meta charset="utf-8" /> <!--Caracteres del documento-->
    <meta name="viewport" content="width=device-width, initial-scale=1" /> <!--Compatibilidad con tamaños de pantalla-->
    <meta name="description" content="Spring Books es una libreria gratuita"> <!--Descripcion del documento-->

  <!--Dependencias-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!--link de la dependencia de bootstap para estilos-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!--link de la dependencia de jquery para unos estilos-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> <!--link de la dependencia de bootstap para animaciones (Este nos servira para que se mueva el carrusel)-->
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> <!--APi de google para la fuente de Lato-->
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet"> <!--APi de google para la fuente de Satis para el carrusel-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!--Link de fontAwesome que nos servira para unos iconos como los de las redes sociales-->
  <link rel="stylesheet" href="css/styles.css"> <!--link de la hoja de estilos para esta pagina-->
  <link rel="stylesheet" href="css/styles1.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg"> <!--Division de la barra de navegación-->
      <div class="container-fluid">
        <div class="navbar-header"> <!--Donde esta el logo-->
          <a class="navbar-brand" href="" 
            ><img src="img/logo.gif" height="220" width="220" 
          /></a> <!--Propiedades del logo-->
        
        <!--Barra de navegacion-->
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link" th:href="@{/RegresandoInicio}">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/ContactaNOS}">Contactanos</a></li>
            <li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link" th:href="@{/SINGUP}">Inicia sesión</a></li>
            
             <li class="dropdown" sec:authorize="isAuthenticated()" >
			  <a class="nav-link btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span sec:authentication="name"></span>
			  </a>
			
			  <div class="dropdown-menu nav-item" >	    
			    <form th:action="@{/logout}" method="post">
			    	<button type="submit" class="btn btn-danger nav-link">Cerrar Sesión</button>
			    </form>
			    
			  </div>
			  
          </ul>
        </div>
      </div>
    </nav>

    <!--Tarjeta del libro-->
    <div class="container">
      <div class="row">
        <div class="col-lg-4" id="section">
          <img
            src="img/Calculo.jpg"
            class="img-responsive"
          />
        </div>

        <!--Informacion del libro-->
        <div id="sectionone">
          <h3>Cálculo de una variable</h3>
          <h4>James Stewart</h4>
          <p>Precio de compra: <strike> $ 136.99</strike></p>
          <p>Nuestro precio: <b>Gratis</b></p>
          <p>Edición N° 7 <br></p>
          <p>2014<br></p>
          <a href="libros/Matemática/Cálculo de una variable.pdf"><button type="button" id="download">Descargar</button> </a
          >&nbsp; &nbsp;
          <a th:href="@{/RegresandoINICIO}"
            ><button type="button" id="back">Regresar</button></a
          >
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div id="form">
          <form>
            <h3>Reseña del libro:</h3>
            <br />
            <p>CÁLCULO Trascendentes tempranas es ampliamente reconocido por su precisión matemática y la exactitud, claridad de la exposición y notables ejemplos y conjuntos de problemas. 
                Millones de estudiantes en todo el mundo han estudiado el cálculo a través del estilo registrado de Stewart, mientras que los instructores han adoptado su planteamiento una y otra vez. 
                En la séptima edición, Stewart continúa estableciendo el estándar para el curso al tiempo que añade contenido cuidadosamente revisado. 
                Las pacientes explicaciones, los soberbios ejercicios centrados en la resolución de problemas y las series de ejercicios cuidadosamente graduadas que han hecho de los textos de Stewart best-sellers, continúan proporcionando una base sólida para la séptima edición. 
                De los estudiantes más impreparados a los más talentosos matemáticos, la redacción y la presentación de Stewart sirven para mejorar el entendimiento y fomentar la confianza.<br><br></p>
            <a href="https://www.amazon.com/-/es/James-Stewart/dp/6074817839"><button type="button" id="more-info">Obtener mas Información</button> </a
              >&nbsp; &nbsp;
          <em></em>
        </div>
      </div>
    </div>
    <br />

    <!--Pie de pagina-->
    <div class="footer" style="background-color: black"> <!--Color de pie de pagina-->
      <div class="container"></div><!--Contendor de informacion-->
        <div class="row" id="column">
          <a id="column">Siguenos</a> <a id="column">Contactanos</a> <!--Informacion de las redes-->
        </div>
        <div id="media_spacing"> <!--Espacio de iconos-->
          <ul id="media_icons"> <!--Presentacion de iconos-->
            <a id="links" href="https://www.facebook.com/jenny.tejada.33821" target="_blank"
              ><li id="media_list"><i class="fab fa-facebook"></i></li> <!--Etiqueta de enlace a facebook usando un icono de fontAwesome-->
            </a>
            <a id="links" href="https://instagram.com/__peke.___?igshid=16h4lxpdgxuja" target="_blank"
              ><li id="media_list"><i class="fab fa-instagram"></i></li> <!--Etiqueta de enlace a instagram usando un icono de fontAwesome-->
            </a>
            <a id="links" href="https://www.linkedin.com/in/rigoberto-mendez-893a631b3/" target="_blank"
              ><li id="media_list"><i class="fab fa-linkedin-in"></i></li> <!--Etiqueta de enlace a linkedin usando un icono de fontAwesome-->
            </a>
          </ul>
        </div>

        <div class="row" id="column1">© Derechos Reservados Spring-Boooks-2020</div> <!--Derechos de autor-->
      </div>
    </div>
    <script src="js/pop-up.js" type="text/javascript"></script> <!--ventana emergente-->
    
  </body>
</html>