<!DOCTYPE html> <!--Tipo de documento-->
<html lang="es" xmlns:th="http://www.thymeleaf.org"> <!--Estructura principal e Idioma del documento-->

<!--Cabecera-->
<head>

  <title th:text="${Mensaje}">Spring Books</title> <!--Titulo de la pagina-->
 <link rel = "icon" href ="img/icono.png" type = "image/x-icon"> <!--icono-->
  <meta charset="utf-8"> <!--Caracteres del documento-->
  <meta name="viewport" content="width=device-width, initial-scale=1"> <!--Compatibilidad con tamaños de pantalla-->
  <meta name="description" content="Spring Books es una libreria gratuita"> <!--Descripcion del documento-->

  <!--Dependencias-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!--link de la dependencia de bootstap para estilos-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!--link de la dependencia de jquery para unos estilos-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> <!--link de la dependencia de bootstap para animaciones (Este nos servira para que se mueva el carrusel)-->
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"> <!--APi de google para la fuente de Lato-->
  <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet"> <!--APi de google para la fuente de Satis para el carrusel-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script> <!--Link de fontAwesome que nos servira para unos iconos como los de las redes sociales-->
  <link rel="stylesheet" href="css/styles.css"> <!--link de la hoja de estilos para esta pagina-->

</head>

    <!--Cuerpo del documento-->
    <body>
        <nav class="navbar navbar-expand-lg"> <!--Opciones de la barra de navegacion-->
  <div class="container-fluid"> <!--Contenedor de la cabecera donde va el logo Inicio y contactanos de ancho completo-->
    <div class="navbar-header"> 
      
      <a class="navbar-brand" href="index.html"><img src="img/logo1.gif" height="100" width="200"
          /></a> <!--barra de navegacion donde se encuentra el logo de la marca, información acerca de la marca de la pagina (no implementado)-->

    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!--Barra de navegacion contenida a un lado-->
      <ul class="nav navbar-nav navbar-right"> <!--Lista de los elementos que estan a un lado de la barra de navegacion-->
          
        <li class="nav-item"><a class="nav-link" href="index.html" th:text="${inicio}" th:href="@{/Inicio}">Inicio</a></li> <!--Boton de inicio-->
          <li class="nav-item"><a class="nav-link" href="contacto.html" th:text="${Contactos}" th:href="@{/Contactanos}">Contactanos</a></li> <!--Boton de contactanos-->
          <li class="nav-item"><a class="nav-link" href="login.html" th:text="${SingUp}" th:href="@{/Login}">Inicia sesión</a></li><!--Inicio de sesion-->
      </ul>
      <div class="collapse navbar-collapse" id="navbarSupportedContent"> <!--Barra de navegacion contenida a un lado-->
        <ul class="nav navbar-nav navbar-right"> <!--Lista de los elementos que estan a un lado de la barra de navegacion-->
            
        </ul>
      </div>

    </div>
  </div>
</nav>

        <!--Barras negras del carrusel-->
<div style="background-color: black; height: 50px; width: 100%;"></div> <!--Barra negra de arriba del carrusel-->
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel"> 
 
  <!-- Indicadores el carrusel -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  

  
  <!-- Paginas del carrusel-->
  <div class="carousel-inner"> <!--Carrusel 1-->
    <div class="item slides active"> 
      <div class="slide-1"></div>
      <div class="hero"> <!--Imagen con estilo hero-->
        <hgroup>
            <h1 th:text="${mejores}">Los mejores libros</h1> <!--Titulo de la imagen 1-->     
            <h2 id="hero1" th:text="${para}">Para tus estudios</h2> <!--subtitulo de la imagen 1 -->
        </hgroup>
      </div>
    </div>
    <div class="item slides"> <!--Carrusel 2-->
      <div class="slide-2"></div>
      <div class="hero"> <!--Imagen con estilo hero-->
        <hgroup>
            <h1  th:text="${gratis}">Libros gratis para todos</h1>  <!--Titulo de la imagen 2-->     
            <h2 id="hero1" th:text="${publicamos}">Publicamos nuevos cada semana</h2> <!--subtitulo de la imagen 2 -->
        </hgroup>       
      </div>
    </div>
    <div class="item slides"> <!--Carrusel 3-->
      <div class="slide-3"></div>
      <div class="hero"> <!--Imagen con estilo hero-->       
        <hgroup>
            <h1 th:text="${busca}">Busca el libro que deseas</h1>  <!--Titulo de la imagen 3-->      
            <h2 id="hero1" th:text="${no}">No te preocupes por el pago</h2> <!--subtitulo de la imagen 3-->
        </hgroup>
      </div>
    </div>
  </div> 
</div>

<!--Barra de busqueda-->
<div style="background-color: black; height: 50px; width: 100%;"></div> <!--Barra negra de abajo del carrusel-->
        
        <h3 id="all_books" th:text="${todos}">Todos los libros</h3> <!--Categoria-->
        <br>
                <form style="float:none;" class="example"> <!--Formulario de busqueda-->
                    <input type="text" placeholder="Buscar el nombre del autor" name="search"> 
                    <button type="submit"><i class="fa fa-search"></i></button> <!--Icono de busqueda de fontAwesome-->
                </form>
        <br>

        <!--Libros-->
          <div class="row"> <!--Divisores de columnas de los libros-->
  <div class="column"  > <!--Divisor de columna 1-->
      <a th:href ="@{/Book1}"> <!--Link de informacion libro 1-->
    <div class="card"> <!--Carta del libro 1-->
        <img src="img/Habitos.jpg" class="img-responsive" height="200" width="200"> <!--Presentacion del libro 1-->
      <h3 >Los 7 hábitos de la gente altamente efectiva</h3>
      <p>Stephen R. Covey</p>
      <p style="color: maroon; font-weight: bold;"><strike style="color: dimgrey;">$ 9.45</strike> Gratis</p>
        <p>Publicaciones</p>
    </div> 
      </a>
  </div>

  <div class="column"> <!--Divisor de columna 2-->
      <a href="book2.html"> <!--Link de informacion libro 2-->
    <div class="card"> <!--Carta del libro 2-->
        <img src="img/Filosofia.jpg" class="img-responsive" height="200" width="200"> <!--Presentacion del libro 2-->
     <h3>Filosofía para Dummies</h3>
      <p>Tom Morris</p>
      <p style="color: maroon; font-weight: bold;"><strike style="color: dimgrey;">$ 16.95</strike> Gratis</p>
        <p><br><br><br>Publicaciones</p>
    </div>
          </a>
  </div>
  
  <div class="column"> <!--Divisor de columna 3-->
      <a href="book3.html"> <!--Link de informacion libro 3-->
    <div class="card"> <!--Carta del libro 3-->
        <img src="img/Fisica.jpg" class="img-responsive" height="200" width="200"> <!--Presentacion del libro 3-->
      <h3>Fundamentos de Física</h3>
      <p>Raymond A. Serway</p>
      <p style="color: maroon; font-weight: bold;"><strike style="color: dimgrey;">$ 30.80</strike> Gratis</p>
        <p><br><br><br>Publicaciones</p>
    </div>
      </a>
  </div>
  
  <div class="column"> <!--Divisor de columna 4-->
      <a href="book4.html"> <!--Link de informacion libro 4-->
    <div class="card"> <!--Carta del libro 4-->
        <img src="img/Calculo.jpg" class="img-responsive" height="200" width="200"> <!--Presentacion del libro 4-->
      <h3>Cálculo de una variable</h3>
      <p>James Stewart</p>
      <p style="color: maroon; font-weight: bold;"><strike style="color: dimgrey;">$ 7.59</strike> Gratis</p>
        <p><br><br><br> Publicaciones</p>
    </div>
      </a>
  </div>

    <div class="column"> <!--Divisor de columna 5-->
        <a href="book5.html"> <!--Link de informacion libro 5-->
    <div class="card"> <!--Carta del libro 5-->
        <img src="img/Programacion web.jpg" class="img-responsive" height="200" width="200"> <!--Presentacion del libro 5-->
      <h3>El gran libro de HTML5, CSS3 y JavaScript</h3>
      <p>J.D. Gauchad</p>
      <p style="color: maroon; font-weight: bold;"><strike style="color: dimgrey;">$ 7.59</strike> Gratis</p>
        <p><br> Publicaciones</p>
    </div>
        </a>
  </div>
    
</div>
    

<!--Pie de pagina-->
<div class="footer" style="background-color: black"> <!--Color de pie de pagina-->
  <div class="container"></div><!--Contendor de informacion-->
    <div class="row" id="column">
      <a id="column">Siguenos</a> <a id="column">Contactanos</a> <!--Informacion de las redes-->
    </div>
    <div id="media_spacing"> <!--Espacio de iconos-->
      <ul id="media_icons"> <!--Presentacion de iconos-->
        <a id="links" href="https://www.facebook.com/jenny.tejada.33821" target="_blank"
          ><li id="media_list"><i class="fab fa-facebook"></i></li> <!--Etiqueta de enlace a facebook usando un icono de fontAwesome-->
        </a>
        <a id="links" href="https://instagram.com/__peke.___?igshid=16h4lxpdgxuja" target="_blank"
          ><li id="media_list"><i class="fab fa-instagram"></i></li> <!--Etiqueta de enlace a instagram usando un icono de fontAwesome-->
        </a>
        <a id="links" href="https://www.linkedin.com/in/rigoberto-mendez-893a631b3/" target="_blank"
          ><li id="media_list"><i class="fab fa-linkedin-in"></i></li> <!--Etiqueta de enlace a linkedin usando un icono de fontAwesome-->
        </a>
      </ul>
    </div>

    <div class="row" id="column1">© Derechos Reservados Spring-Boooks-2020</div> <!--Derechos de autor-->
  </div>
</div>
        
    </body>

</html>